.sp-thongbao {
  color: red;
  margin-left: 2px; 
  font-style: italic;
  font-size: 15px;
  margin-top: 5px;
  display: none;
}

#SapXepGiam{
	display: none;
}

#content{
	width: 100%;
	background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.myCardHeader, .myCardFooter{
	background-color: transparent;       
}

table tbody tr td {
  vertical-align: middle !important;
}

#btnTimNV {
  transition: all .3s;
  cursor: pointer;
}

#btnTimNV:hover {
  background-color: #1e82fb;
  color: white;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}